<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nenasa">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".Nenasa"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Nenasa">
        <activity
            android:name=".dyslexia.ReadHard"
            android:exported="false" />
        <activity
            android:name=".dyslexia.HomeHard"
            android:exported="false" />
        <activity
            android:name=".dyslexia.HomeEasy"
            android:exported="false" />
        <activity
            android:name=".dysgraphia.Reports"
            android:exported="false" />
        <activity
            android:name=".dysgraphia.Level_02"
            android:exported="false" />
        <activity
            android:name=".dysgraphia.Level_01"
            android:exported="false" />
        <activity
            android:name=".Hidden"
            android:exported="false" />
        <activity
            android:name=".dyslexia.Read"
            android:exported="false" />
        <activity
            android:name=".dyscalculia.Calculate"
            android:exported="false" />
        <activity
            android:name=".dysgraphia.Tracing"
            android:exported="false" />
        <activity
            android:name=".Questions"
            android:exported="false" />
        <activity
            android:name=".dyslexia.Home"
            android:exported="false" />
        <activity
            android:name=".dysgraphia.Home"
            android:exported="false" />
        <activity
            android:name=".dyscalculia.Home"
            android:exported="false" />
        <activity android:name=".Walkthrough.Walkthrough" />
        <activity android:name=".Home" />
        <activity android:name=".Register" />
        <activity android:name=".Login" />
        <activity
            android:name=".Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>