# ----------------------------------
# app.py
# ----------------------------------

app_host = '0.0.0.0'
app_port = 5000
app_debug = True


# ----------------------------------
# db.py
# ----------------------------------

db_host = ""
db_user = ""
db_password = ""
db_database = ""
db_port = ""